<p class="lead">Select a file and upload it to Uploads folder</p>
<form name="">
    <div class="input-group">
        <span class="input-group-btn">
            <label class="btn btn-primary btn-file" for="multiple_input_group">
              <div class="input required">
                  <!-- <input id="multiple_input_group" type="file" name="file"> -->
                  <input type="file" ng2FileSelect [uploader]="uploader" />
                  </div> Browse
            </label>
          </span>
        <span id="file-label" class="file-input-label"></span>
    </div>
    <!-- <button id="submitBtn" type="submit" class="btn btn-default">submit</button> -->
    <button type="button" class="btn btn-success btn-s"
(click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
<span class="glyphicon glyphicon-upload"></span> Upload all
</button><br />
</form>
